---
title: Changelog
slug: changelog
date: 0099/01/02
number: 99
points: 1
appendix: true
version: 1.7.2
updated: "December 5, 2014"
note: feel free to adapt the contents of this document to your own translation, but please keep the same version numbers
---

### December 5, 2014 <span class="marker version-marker">1.7.2</span>

- ////
- ////
- ////
